<% if profile_creator? %>
<h1>Welcome Back <%=@user.username %></h1>
<% else %>
<h1><%=@user.username %>'s Profile</h1>
<% end %>

<img src="images/test.jpg" alt="testing" width="100" height="120"> 

<h2>States Visited</h2>
<% @states.each.with_index(1) do |s, i| %>
  <h4><%="#{i}. #{s.name}" %></h4>
<% end %>

<h2>State Count</h2>
<h4><%=@states.count%></h4>

<h2>Activity Count</h2>
<h4><%=@activities.collect {|a| a.name}.uniq.count%></h4>


<h2>Your Activities</h2>
<% @activities.each.with_index(1) do |a, i| %>
  <h4><%="#{i}. #{a.name}"%></h4>
<% end %>


<h2>Most Visited States</h2>
<% @top_states.each do |s| %>
<h4><%="#{s[0]} - #{s[1]}"%></h4>
<% end %>

<h2>Favorite Activites</h2>
<% @top_activities.each do |a| %>
  <h4><%="#{a[0]} - #{a[1]}"%></h4>
<% end %>


<% if profile_creator? %>
<!--Logout Button-->
  <form method="POST" action="/logout"><button>Logout</button></form>
  <!--Delete Profile Button-->
  <form method="POST" action="/users/<%=@user.id %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><button>Delete Profile</button></form>
<% end %>