<% if creator? %>
  <h1>Welcome Back <%=@user.username %></h1>
<% else %>
  <h1><%=@user.username %>'s Profile</h1>
<% end %>

<% if creator? %>
  <a href="/users/<%=@user.id %>"><button>My Stats</button></a><br>
  <a href="/adventures/<%=@user.id %>"><button>My Adventures</button></a><br>
  <a href="/adventures/new"><button>Log An Adventure</button></a><br>
  <a href="/adventures"><button>Discover Adventures</button></a><br>
  <a href="/communities"><button>Community Page</button></a>
  <!--Logout Button-->
  <form method="POST" action="/logout"><button>Logout</button></form>
  <!--Delete Profile Button-->
  <form method="POST" action="/users/<%=@user.id %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><button>Delete Profile</button></form>
<% end %>