<% content_for :title do %>
  <% if profile_creator? %>
    <h1>Welcome Back <%=@user.username %></h1>
  <% else %>
    <h1><%=@user.username %>'s Profile</h1>
  <% end %>
<% end %>

<div class="text-center padded_sides">
  <div class="row text-center">
    <div class="col">
      <h2>Most Visited States</h2>
      <% @top_states.each do |s| %>
        <h4><%="#{s[0]} - #{s[1]}"%></h4>
      <% end %>
    </div>
    <div class="col">
      <h2>Favorite Activites</h2>
      <% @top_activities.each do |a| %>
        <h4><%="#{a[0]} - #{a[1]}"%></h4>
      <% end %>
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <h2>States Visited - <%=@state_list.count%> / 50</h2>
      <h5><%=@state_list.join(', ')%></h5>
    </div>
  </div><br>
  <div class="row">
    <div class="col">
      <h2>Activity Count - <%=@activity_list.count%></h2>
      <h5><%=@activity_list.join(', ')%></h5>
    </div>
  </div>

  <br><br><br>
  <% if profile_creator? %>
    <!--Delete Profile Button-->
    <form method="POST" action="/users/<%=current_user.slug %>">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button class="btn btn-danger">Delete Profile</button>
    </form>
  <% end %>
</div>