<% content_for :title do %>
  <% if profile_creator? %>
    <h1>Welcome Back <%=@user.username %></h1>
  <% else %>
    <h1><%=@user.username %>'s Profile</h1>
  <% end %>
<% end %>

<div class="row text-center p-3">
  <div class="col">
    <h2>Most Visited States</h2>
    <% @top_states.each do |s| %>
      <h4><%="#{s[0]} - #{s[1]}"%></h4>
    <% end %>
  </div>
  <div class="col-6">
    <h2>States Visited - <%=@state_list.count%> / 50</h2>
    <h5><%=@state_list.join(', ')%></h5>
  </div>
  <div class="col">
    <h2>Favorite Activites</h2>
    <% @top_activities.each do |a| %>
      <h4><%="#{a[0]} - #{a[1]}"%></h4>
    <% end %>
  </div>
</div>






<h2>Activity Count</h2>
<h4><%=@activities.collect {|a| a.name}.uniq.count%></h4>

<h2><%='Your' if profile_creator?%> Activities</h2>
<% @activities.pluck(:name).uniq.each.with_index(1) do |a, i| %>
  <h4><%="#{i}. #{a}"%></h4>
<% end %>





<% if profile_creator? %>
  <!--Delete Profile Button-->
  <form method="POST" action="/users/<%=current_user.slug %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><button>Delete Profile</button></form>
<% end %>