<% if profile_creator? %>
<h1>Welcome Back <%=@user.username %></h1>
<% else %>
<h1><%=@user.username %>'s Profile</h1>
<% end %>

<h2>States Visited</h2>
<% @states.uniq.each.with_index(1) do |s, i| %>
  <h4><%="#{i}. #{s.name}" %></h4>
<% end %>

<h2>State Count</h2>
<h4><%=@states.uniq.count%></h4>

<h2>Activity Count</h2>
<h4><%=@activities.collect {|a| a.name}.uniq.count%></h4>

<h2><%='Your' if profile_creator?%> Activities</h2>
<% @activities.pluck(:name).uniq.each.with_index(1) do |a, i| %>
  <h4><%="#{i}. #{a}"%></h4>
<% end %>

<h2>Most Visited States</h2>
<% @top_states.each do |s| %>
<h4><%="#{s[0]} - #{s[1]}"%></h4>
<% end %>

<h2>Favorite Activites</h2>
<% @top_activities.each do |a| %>
  <h4><%="#{a[0]} - #{a[1]}"%></h4>
<% end %>

<% if profile_creator? %>
  <!--Delete Profile Button-->
  <form method="POST" action="/users/<%=current_user.slug %>"><input id="hidden" type="hidden" name="_method" value="DELETE"><button>Delete Profile</button></form>
<% end %>