<% if @adventures.nil? %>
  <h1>Sorry, no adventures tracked yet.</h1>
<% else %>
  <% @adventures.each do |a| %>
    <h3><a href="/adventures/<%=a.user_id%>"><%=a.title%></a></h3>
    <h5><%=format_date(a.start_date) %></h5>
    <h5><%=format_date(a.end_date) %></h5>
    <h4><%=a.highlight%></h4>
  <% end %>
<% end %>

