<h1>Edit <%=@adventure.title%> </h1>         

<form method="POST" action="/adventures/<%=@adventure.id %>">
  <input type="hidden" name="_method" value="PATCH">
  <label for="title">Trip Title:</label><br>
  <input type="text" id="title" name="adventure[title]" value="<%=@adventure.title %>"><br>

  <label for="highlight">Highlight:</label><br>
  <input type="text" id="highlight" maxlength="150" name="adventure[highlight]" value="<%=@adventure.highlight %>"> (Keep to 150 characters or less)<br>
    
  <label for="rating">Rating:</label><br>
  <select name="adventure[rating]" id="rating"><br>
      <% i = 1 %>
      <% 10.times do %>
        <option value="<%= i %>" <%= 'selected' if @adventure.rating == i %>><%= i %></option>"
        <% i += 1 %>
      <% end %>
  </select><br>

  <label for="recommend">Would you recommend his trip?</label><br>
  <input type="radio" id="recommend" value="yes" name="adventure[recommend]" <%= 'checked' if @adventure.recommend %>> Yes</input>
  <input type="radio" id="recommend" value="no" name="adventure[recommend]" <%= 'checked' if !@adventure.recommend %>> No</input><br>

  <label for="start_date">Trip Start Date:</label><br>
    <input type="date" id="start_date" name="adventure[start_date]" value="<%=@adventure.start_date %>"><br>

  <label for="end_date">Trip End Date:</label><br>
    <input type="date" id="end_date" name="adventure[end_date]" value="<%= @adventure.end_date %>"><br>

  <label for="miles_covered">Miles Covered:</label><br>
    <input type="number" id="miles_covered" name="adventure[miles_covered]" value="<%=@adventure.miles_covered%>"><br>

  <label for="companions">Companions:</label><br>
    <input type="text" id="companions" name="adventure[companions]" value="<%=@adventure.companions%>"><br>

  <label for="weather">Weather:</label><br>
    <input type="text" id="weather" name="adventure[weather]" value="<%=@adventure.weather%>"><br>

  <label for="summary">Trip Summary:</label><br>
  <textarea id="summary" name="adventure[summary]" rows="7" cols="50"><%=@adventure.summary %></textarea><br>

  <label for="transportation">Transportation:</label><br>
  <input type="text" id="transportation" name="adventure[transportation]" value="<%=@adventure.transportation %>"><br>

  <label for="food">Food:</label><br>
    <input type="text" id="food" name="adventure[food]" value="<%=@adventure.food%>"><br>
    
  <label for="private_notes">Notes Just For You</label><br>
  <textarea id="private_notes" name="adventure[private_notes]" rows="7" cols="50"><%=@adventure.private_notes %></textarea><br>

  <!--States and Activities Section-->

  <% i = 1 %>  
  <% x = 0 %>
  <% 3.times do %>  <!-- Create three state slots and fill if there is a value-->
    <label for="state_<%= i %>">Select State:</label><br>
    <select name="state_ids[]" id="state_<%=i%>">
      <% if x < @adventure.states.uniq.count%>
        <option selected value="<%=@adventure.states.uniq[x].id%>"><%=@adventure.states.uniq[x].name%></option>
      <% else %>
        <option selected disabled hidden style='display: none' value=''></option>
      <% end %>
      
      <% @states.each do |s| %>
        <option id="state_<%=i%>" value="<%=s.id %>"><%=s.name%></option>
      <% end %>
    </select><br>


    <label for="activity_list">Select Activities:</label><br>
    <% y = 0 %>
    <% 3.times do %>  <!-- Display three activities for each state and fill if uniq value given-->
      <select name="state_<%=i%>_activity_ids[]" id="activity_list">
        <% if !@adventure.states.uniq[x].nil? && y < uniq_state_count%>
          <option selected value="<%=@adventure.states.uniq[x].activities[y].id%>"><%=@adventure.states.uniq[x].activities[y].name%></option> <!--Found this code snippet https://stackoverflow.com/questions/6223865/blank-html-select-without-blank-item-in-dropdown-list/19704217-->
        <% else %>
          <option selected disabled hidden style='display: none' value=''></option>
        <% end %>
        
        <% @activities.each do |a| %>
          <option value="<%=a.id%>"><%=a.name %></option>
        <% end %>
      </select><br>
      <% y += 1 %>
    <% end %>
    <% i += 1 %>
    <% x += 1 %>
  <% end %>


  <input type="submit" value="Edit Adventure">
</from>