<% content_for :title do %>   <!--collects title for banner-->
  <h1>Edit <%=@adventure.title%> </h1> 
<% end %>
      
<form method="POST" action="/adventures/<%=@adventure.slug %>" class="main_form titles padded_sides"> 
  <input type="hidden" name="_method" value="PATCH">
  <div class="form-group">  <!--title label and input-->
    <label for="title">Trip Title: *</label>
    <input type="text" class="form-control" id="title" name="adventure[title]" value="<%=@adventure.title %>" size="40" required>
  </div>
  <div class="form-group">  <!--highlight label and input-->
    <label for="highlight">Highlight: *</label>
    <textarea id="highlight" class="form-control" rows="3" cols="40" maxlength="150" name="adventure[highlight]" required><%=@adventure.highlight %>"</textarea>
  </div>
  <div class="row"> <!--start and end date label and input-->
    <div class="col">
      <div class="form-group">
        <label for="start_date">Trip Start Date:</label>
        <input type="date" class="form-control" id="start_date" value="<%=@adventure.start_date %>" name="adventure[start_date]">
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="end_date">Trip End Date:</label>
        <input type="date" class="form-control" id="end_date" value="<%= @adventure.end_date %>" name="adventure[end_date]">
      </div>
    </div>
  </div>

  <div class="form-group">  <!--recommend label and input-->
    <label for="recommend">Would you recommend?   </label>
    <input type="radio" class="form-check-input" style="font-size: 1em;" value="yes" name="adventure[recommend]" <%= 'checked' if @adventure.recommend %>> Yes</input>
    <input type="radio" class="form-check-input" style="font-size: 1em;" value="no" name="adventure[recommend]" <%= 'checked' if !@adventure.recommend %>> No</input>
  </div>

  <div class="form-group">  <!--rating label and input-->
    <label for="rating">Rating:</label>
    <select class="form-control" name="adventure[rating]" id="rating">
      <% x = 1 %>
      <option value='' selected></option>
      <% 10.times do %>
        <option value="<%=x%>" <%= 'selected' if @adventure.rating == x %>><%=x%></option>
        <% x += 1 %>
      <% end %>
    </select>
  </div>

  <div class="row"> <!--transportation and miles label and input-->
    <div class="col">
      <div class="form-group">
        <label for="transportation">Transportation:</label>
        <input type="text" class="form-control" id="transportation" value="<%=@adventure.transportation %>" name="adventure[transportation]">
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <label for="miles_covered">Miles:</label>
        <input type="number" class="form-control" id="miles_covered" value="<%=@adventure.miles_covered%>" name="adventure[miles_covered]">
      </div>
    </div>
  </div>

  <div class="form-group">  <!--weather label and input-->
    <label for="weather">Weather:</label>
    <input type="text" class="form-control" id="weather" value="<%=@adventure.weather%>" name="adventure[weather]">
  </div>
  <div class="form-group">  <!--summary label and input-->
    <label for="summary">Trip Summary: *</label>
    <textarea id="summary" class="form-control" name="adventure[summary]" rows="7" cols="50" placeholder="Share with people what all you got into" required><%=@adventure.summary%></textarea>
  </div>
  <div class="form-group">  <!--companions label and input-->
    <label for="companions">Companions:</label>
    <input type="text" class="form-control" id="companions" value="<%=@adventure.companions%>" name="adventure[companions]">
  </div>
  <div class="form-group">   <!--food label and input-->
    <label for="food">Food:</label>
    <input type="text" class="form-control" id="food" value="<%=@adventure.food%>"name="adventure[food]">
  </div>
  <div class="form-group">   <!--private_notes label and input-->
    <label for="private_notes">Notes Just For You</label>
    <textarea class="form-control bottom_margin" id="private_notes" name="adventure[private_notes]" rows="7" cols="50" placeholder="These won't be shown on public profiles"><%=@adventure.private_notes%></textarea>
  </div>  

  <!--States and Activities Section-->

  <% i = 1 %>  <!--variable to set name and id values for states-->
  <% x = 0 %>  <!--counter for the iterations through states-->
  <% 3.times do %>  <!-- Create three state slots and fill if there is a value-->
    <label for="state_<%= i %>">Select State: <%= '*' if i == 1 %></label><br>
    <select class="form-control" name="log[state<%=i%>][id]" id="state_<%=i%>" <%= 'required' if i == 1 %>>
      <option selected hidden disabled style="display:none"></option>
      <% if x < @adventure_log.count%> <!--less than states hash count-->
        <option selected value="<%=@adventure_log[x][:state].id%>"><%=@adventure_log[x][:state].name%></option>
      <% end %>
      
      <% @states.each do |s| %>
        <option id="state_<%=i%>" value="<%=s.id %>"><%=s.name%></option>
      <% end %>
    </select><br>
  </from>

    <label for="activity_list">Select Activities:</label><br>
    <% y = 0 %>
    <% 3.times do %>  <!-- Display three activities for each state and fill if uniq value given-->
      <select class="form-control" name="log[state<%=i%>][activities][]" id="activity_list">
        <option selected hidden disabled style="display:none"></option>
        <% if !@adventure_log[x].nil? && !@adventure_log[x][:activities][y].nil? %><!--state activities count-->
          <option selected value="<%=@adventure_log[x][:activities][y].id%>"><%=@adventure_log[x][:activities][y].name%></option> <!--Found this code snippet https://stackoverflow.com/questions/6223865/blank-html-select-without-blank-item-in-dropdown-list/19704217-->
        <% end %>
        
        <% @activities.each do |a| %>
          <option value="<%=a.id%>"><%=a.name %></option>
        <% end %>
      </select><br>
      <% y += 1 %>
    <% end %>
    <% i += 1 %>
    <% x += 1 %>
  <% end %>


  <input class="form-control" style="background-color: #8D8741;" type="submit" value="Edit Trip">
</from>