<% content_for :title do %> <!--collects title for banner-->
  <h1>Discover</h1>
<% end %>
<div class="padded_sides large_form text-center">
  <form method="POST" class="main_form" action="/adventures/filtered">  <!--form for filter-->
    <div class="row"> <!--filter inputs-->
      <div class="col">
        <div class="form-group">
          <select class="form-control"name="filter_ids[]" id="state_filter"> 
            <option selected value>Filter By State</option>
            <% @states.each do |s| %> 
              <option id="state_filter" value="<%=s.id%>"><%=s.name%></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <select class="form-control" name="filter_ids[]" id="activity_filter">
            <option selected value>Filter By Activity</option>
            <% @activities.each do |a| %>
              <option id="activity_filter" value="<%=a.id%>"><%=a.name%></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <button type="submit" class="btn button_colors">Filter Results</button>
        </div>
      </div>
    </div>
  </form>
  <% if @filtered.nil? %>   <!--checks if filtered or not-->
    <% @adventures.reverse.each do |a| %> <!--displays all adventures with title, activites, and states-->
    <div class="row" style="padding-top: 20px;">
      <h2><a href="/adventures/<%=a.slug%>"><%=a.title%></a></h2>
    </div>
    <div class="row bottom_margin">
      <h4>States: <%=a.states.uniq.pluck(:name).join(", ")%></h4>
      <h4>Activities: <%=a.activities.pluck(:name).join(", ")%></h4>
    </div>
    <% end %>
  <% else %>
    <% @filtered.reverse.each do |a| %> <!--displays only filtered adventures with title, activities, and states-->
      <h2><a href="<%=a.slug%>"><%=a.title%></a></h2>
      <div class="row">
        <h4>States: <%=a.states.uniq.pluck(:name).join(", ")%></h4>
      </div>
      <div class="row bottom_margin">
        <h4>Activities: <%=a.activities.pluck(:name).join(", ")%></h4>
      </div>
    <% end %>
  <% end %>
</div>

