<h1><%=@adventure.title %></h1>
<h4>Adventurer: <a href="/users/<%=@adventure.user.slug%>"><%=@adventure.user.username%></a></h4>
<!--key of state name and value of array activity objects-->
<h3><%=@adventure.highlight %></h3>
<h4>States Visited:</h4>
<% @adventure.states.uniq.each do |s| %>
<h5><%=s.name%></h5>
<% end %>
<h4>Activities:</h4>
<% @adventure.activities.each do |a| %>
<h5><%=a.name%></h5>
<% end %><br><br>


<% show_details(@adventure).each do |d| %>
  <%= d %>
<% end %>
<br>

<% if find_adventure.user_id == session_id  %>
  <a href="/adventures/<%=@adventure.slug %>/edit"><button>Edit Adventure</button></a>
  <form method="POST" action="/adventures/<%=@adventure.slug%>">
    <input type="hidden" name="_method" value="DELETE">
    <button value="<%=@adventure.id%>">Delete Adventure</button>
  </form>
<% end %>


