<h1><%=@adventure.title %></h1>

<!--key of state name and value of array activity objects-->
<h3><%=@adventure.highlight %></h3>
<h4>States Visited:</h4>
<% @adventure.states.uniq.each do |s| %>
  <h5><%=s.name%></h5>
<% end %>
<h4>Activities:</h4>
<% @adventure.activities.each do |a| %>
  <h5><%=a.name%></h5>
<% end %><br><br>

<h5>Rating: <%=@adventure.rating %> / 10</h5>
<h5>Would You Recommend: <%=@adventure.recommend %></h5>
<h5>Trip Start Date: <%=@adventure.start_date %></h5>
<h5>Trip End Date: <%=@adventure.end_date %></h5>
<h5>Weather: <%=@adventure.weather %></h5>
<h5>Miles Covered: <%=@adventure.miles_covered %></h5>
<h5>Transportation: <%=@adventure.transportation %></h5>
<h5>Companions: <%=@adventure.companions %></h5>
<h5>Food: <%=@adventure.food %></h5>
<h5>Trip Summary:</h5>
<h5><%=@adventure.summary %></h5>
<h5>Private Notes: </h5>
<h5><%=@adventure.private_notes %></h5><br>

<% if find_adventure.user_id == session_id  %>
  <a href="/adventures/<%=@adventure.id %>/edit">
    <button>Edit Adventure</button>
  </a>
<% end %>


