<% content_for :title do %>   <!--collects title for banner-->
  <h1><%=@adventure.title %></h1>
<% end %>
<div class="padded_sides">
  <div class="row text-center"> <!--shows user name-->
    <h4>Adventurer: <a href="/users/<%=@adventure.user.slug%>"><%=@adventure.user.username%></a></h4>
    <h5><%=@adventure.highlight %></h5>
  </div><br>
    <div class="row ">  <!--shows state and activities-->
      <div class="col">
        <% @adventure_log.each do |adventure| %>  <!--loops through adventure log-->
          <h2><%= adventure[:state].name %></h2>  <!--posts state name-->
          <% adventure[:activities].each do |activity| %> <!--loops through activities-->
            <h5><%= activity.name %></h5> <!--posts activity name-->
          <% end %>
        <% end %>
      </div>
      <div class="col-9">   <!--displays all other information on adventure using #show_details helper-->
        <% show_details(@adventure).each do |d| %>
        <%= d %>
        <% end %>
      </div>
    </div>
  </div>

  <% if adventure_creator?(@adventure)  %>
    <div class="row main_form padding_sides">   <!--shows edit and delete button if user's adventure-->
      <div class="col">
        <a href="/adventures/<%=@adventure.slug %>/edit"><button class="btn button_colors">Edit Adventure</button></a>
      </div>
      <div class="col">
        <form method="POST" action="/adventures/<%=@adventure.slug%>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn button_colors" value="<%=@adventure.id%>">Delete Adventure</button>
        </form>
      </div>
    </div> 
  <% end %>
</div><br><br><br>

